<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/triggers/new.css" />
  <%- include('../partials/nav') %>
    <main>
      <h1>
        <%= title %>
      </h1>
      <p>Check existing triggers
        <select id="dropdown">
          <% triggers.forEach(function(trigger) { %>
            <option>
              <%= trigger.name %>
            </option>
            <% }) %>
        </select>
      </p>
      <form id="add-trigger-form" action="/triggers" method="POST">
        <label id="trigger-name-label" for="name-input">Trigger Name:</label>
        <input type="text" name="name" id="name-input">
        <button id="name-submit" type="submit">Submit</button>
      </form>
    </main>
    <%- include('../partials/footer') %>