<%- include('../partials/html-head.ejs') %>
  <link rel="stylesheet" href="/stylesheets/profiles/show.css" />
  <%- include('../partials/nav.ejs') %>
    <main>
      <h1>Migraine List</h1>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <%# Oh hey, this is an ejs comment! It starts with a # %>
            <%# Write the line of EJS to iterate over movies using forEach %>
              <% profile.migraines.forEach(migraine=> { %>
                <tr>
                  <td>
                    <%= migraine.date %>
                  </td>
                  <td>
                    <%= migraine.type %>
                  </td>
                  <td><a href="/migraines/<%= migraine._id %>">DETAILS</a></td>
                  <td>
                    <form action="/migraines/<%= migraine._id %>?_method=DELETE" method="POST">
                      <button id="migraine-delete">X</button>
                    </form>
                  </td>
                </tr>
                <%# finish the ternary expression to display 'Yes' or 'Nope' %>



                  <% }) %>
                    </tr>
                    <%# Close the forEach using EJS here %>
        </tbody>
      </table>
    </main>
    <%- include('../partials/footer.ejs') %>