<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Migraine Tracker</h1>
  <img id="bolt" src="./images/bolt.png" alt="Thunder Bolt" />
  <h2>Greetings, <%= user ? user.profile.name : "friend!" %></h2>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
