<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Migraine Tracker</h1>
  <img id="brain" src="./images/brain.png" alt="Brain" />
  <h2>Welcome <%= user ? user.profile.name : "back!" %></h2>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
