<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/migraines/show.css" />
  <%- include('../partials/nav') %>
    <main>
      <h1>
        <%= title %>
      </h1>
      <div>

        <%= migraine.title %>
          <a href="/migraines/<%= migraine._id %>/edit">
            <button>Edit Migraine</button>
          </a>
      </div>
      <section>
        <div>Date: </div>
        <div>
          <%= migraine.date %>
        </div>
        <div>Type: </div>
        <div>
          <%= migraine.type %>
        </div>
        
        <%# start meals list %>

        <div>Triggers:</div>
        <% if (migraine.triggers.length) { %>
          <ul>
            <% migraine.triggers.forEach(trigger=> { %>
              <li>
                <%= trigger.name %>

                <a href="/migraines/<%= trigger._id %>">DETAILS</a>

                <form action="/triggers/<%= trigger._id %>?_method=DELETE" method="POST">
                  <button>X</button>
                </form>


              </li>
              <% }) %>
          </ul>

          <% } else { %>
            <h3>No Triggers Yet</h3>
            <% } %>

                <%# end meals list %>
      </section>
      <%# add to meal form below this comment %>
      
      <form id="add-to-triggers" action="/migraines/<%= migraine.id %>/triggers" method="POST">
        <select name="triggerId">
          <% triggers.forEach(trigger=> { %>
            <option value="<%= trigger._id %>">
              <%= trigger.name %>
            </option>
            <% }) %>
        </select>
        <button type="submit">Add to Trigger</button>
      </form>


      </section>

        <% // new markup below %>

    </main>
    <%- include('../partials/footer') %>