<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/migraines/show.css" />
  <%- include('../partials/nav') %>
    <main>
      <h1>
        <%= title %>
      </h1>
      <div>
        <%= migraine.title %>
          <a href="/migraines/<%= migraine._id %>/edit">
            <button id="edit">Edit Migraine</button>
          </a>
      </div>
      <section>
        <div>Date: </div>
        <div>
          <td id="detail-date">
            <%=migraine.date.getMonth() +1 %>
            /
            <%=migraine.date.getDate() %>
            /    
            <%=migraine.date.getFullYear() %>
          </td>
        </div>
        <div>Type: </div>
        <div>
          <%= migraine.type %>
        </div>
        <%# start meals list %>
        <div>Triggers:</div>
        <% if (migraine.triggers.length) { %>
          <ul>
            <% migraine.triggers.forEach(trigger=> { %>
              <li>
                <%= trigger.name %>
                <form action="/migraines/<%= migraine._id %>/triggers/<%= trigger._id %>?_method=PUT" method="POST">
                  <button id="trigger-delete">X</button>
                </form>
              </li>
              <% }) %>
          </ul>
          <% } else { %>
            <h3>No Triggers Yet</h3>
            <% } %>
                <%# end meals list %>
      </section>
      <%# add to meal form below this comment %>
      <form action="/migraines/<%= migraine.id %>/triggers" method="POST">
        <select id="drop-down" name="triggerId">
          <% triggers.forEach(trigger=> { %>
            <option value="<%= trigger._id %>">
              <%= trigger.name %>
            </option>
            <% }) %>
        </select>
        <button id="add" type="submit">Add to Trigger</button>
      </form>
      </section>
        <% // new markup below %>
    </main>
    <%- include('../partials/footer') %>