<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/migraines/show.css" />
  <%- include('../partials/nav') %>
    <main>
      <h1>
        <%= title %>
      </h1>
      <div>
        <%= migraine.title %>
          <a href="/migraines/<%= migraine._id %>/edit">
            <button>Edit Migraine</button>
          </a>
      </div>
      <section>
        <div>Date: </div>
        <div>
          <%= migraine.date %>
        </div>
        <div>Type: </div>
        <div>
          <%= migraine.type %>
        </div>
        
        <%# start meals list %>

        <div>Triggers:</div>
        <% if (migraine.triggers.length) { %>
          <ul>
            <% migraine.triggers.forEach(trigger=> { %>
              <li>
                <%= trigger.name %>
              </li>
              <% }) %>
          </ul>
          <% } else { %>
            <h3>No Triggers Yet</h3>
            <% } %>

                <%# end meals list %>
      </section>
      <%# add to meal form below this comment %>
      
        <% // new markup below %>
          
    </main>
    <%- include('../partials/footer') %>