<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/migraines/show.css" />
  <%- include('../partials/nav') %>
    <main> 
      <h1>
        <%= title %>
      </h1>
      <div>
        <%= migraine.title %>
          <a href="/migraines/<%= migraine._id %>/edit">
            <button id="edit">Edit Migraine</button>
          </a>
      </div>
      <section>
        <table>
        <tr>
        <td>Date: </td>
        <div>
          <td>
            <%=migraine.date.getMonth() +1 %>
            /
            <%=migraine.date.getDate() %>
            /    
            <%=migraine.date.getFullYear() %>
          </td>
        </tr>
        </table>
          </div>
        </div>
        <table>
          <tr>
        <td>Type: </td>
        <td>
          <%= migraine.type %>
        </td>
      </tr>
      </table>
      </tr>
        <%# start meals list %>
        <table>
        <tr>
        <td>Triggers:</td>
        <% if (migraine.triggers.length) { %>
          <ul>
            <% migraine.triggers.forEach(trigger=> { %>
              <li>
               <td> <%= trigger.name %> </td>
                <form action="/migraines/<%= migraine._id %>/triggers/<%= trigger._id %>?_method=PUT" method="POST">
               <td><button id="trigger-delete">X</button></td>
                </form>
              
              </li>
              <% }) %>
          </ul>
          <% } else { %>
           <td> <h3>No Triggers Yet</h3></td>
        
            <% } %>
          </tr>
        </table>
                <%# end meals list %>
      </section>
      <%# add to meal form below this comment %>
      <form action="/migraines/<%= migraine.id %>/triggers" method="POST">
        <select id="drop-down" name="triggerId">
          <% triggers.forEach(trigger=> { %>
            <option value="<%= trigger._id %>">
              <%= trigger.name %>
            </option>
            <% }) %>
        </select>
        <button id="add" type="submit">Add to Trigger</button>
      </form>
      </section>
        <% // new markup below %>
    </main>
    <%- include('../partials/footer') %>